/* Fade in/out animation for route transitions */
.fade-wrapper {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  background-image: url("../../public/imgs/2024-2025.jpg"); 
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover; 
  background-attachment: fixed;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

main {
  margin-top: 60px;
  margin-bottom: 40px;
}

.purple-stripe {
  background-color: #7f4ebe;
  color: white;
  padding: 20px;
  text-align: center;
}

.white-stripe {
  background-color: white;
}

.big-white-box {
  background-color: white;
  margin: 10%;
}

.big-purple-box {
  background-color: #7f4ebe;
  margin: 10%;
}

.gray-stripe {
  background-color: lightgray;
}

.centered-text {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  text-align: left;
}

.purple-stripe .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card {
  width: 130px;
  text-align: center;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.card p {
  margin-top: 5px;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .purple-stripe {
    padding: 40px 20px;
    
  }
  .purple-stripe .cards {
    justify-content: space-between;
    margin: 40px 10%;
  }

  .card {
    width: 170px;
    margin: auto;
  }
}